.recuperar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recuperar .container-recuperar{
    position: relative;
    display: flex;
    width: 50rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: antiquewhite;
}

.box{
    position: relative;
    /* position: absolute; */
    width: 40%;
    height: 20rem;
    background-color: red;

}

.box1{    
    position: relative;
    width: 40%;
    height: 20rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 .btns{
    position: absolute;
    border: 1px solid blue;
    width: 5rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    top: 1rem;
}

.box1 .btns .btn-item{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: black;
}

.box1 .form{
    position: relative;
    width: 100%;
    height: 80%;
    background-color: aquamarine;
    overflow-x: hidden;
    /* display: flex;
    align-items: center;
    overflow-x: visible; */
}

.box1 .form .form-carousel{
    width: 200%;
    height: 100%;
    background-color: silver;
    display: flex;
    justify-content: space-around;
    transition: 1s;
    transform: translateX(-50%);
}

.form-item{
    /* position: relative; */
    width: 40%;
    height: 100%;
    background-color: aqua;
}


