.recuperar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recuperar .container-recuperar{
    position: relative;
    display: flex;
    width: 50rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: antiquewhite;
}

.box{
    position: relative;
    /* position: absolute; */
    width: 40%;
    height: 20rem;
    background-color: red;

}

.box1{    
    position: relative;
    width: 40%;
    height: 20rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-indicators{
    position: absolute;
    width: 5rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    top: 0;
}

.form-indicators .indicator{
    width: 1.2em;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid var(--gris);
}

.form-indicators .indicator.active{
    background-color: black;
}

.form-registro{
    position: relative;
    width: 100%;
    height: 80%;
    background-color: aquamarine;
    /* overflow-x: hidden; */
    /* display: flex;
    align-items: center;
    overflow-x: visible; */
}

.form-registro .form-carousel{
    width: 200%;
    height: 100%;
    background-color: silver;
    display: flex;
    /* justify-content: space-around; */
    transition: 1s;
    transform: translateX(50%);
}

.form-itema{
    /* position: relative; */
    width: 100%;
    height: 100%;
    background-color: aqua;
}


