.verificar-correo-container{
    position: relative;
    width: 100%;
}

.verificar {
    display: flex;
    gap: 10px;
    margin: 1rem 0rem;
}

.verificar input {
    height: 40px;
    /* width: 18rem; */
}

.verificar-codigo-input{
    padding: .375rem .75rem;
}


.avanzar {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 8rem;
    justify-content: space-between;
}
