.align-left {
    text-align: left;
    margin: 10px;
  }
  
  .login-logo-box.align-left {
    margin-left: 0; 
  }
  
  .logo-img {
    width: 1000px; 
    height: 100px; 
  }
  .registrarse-left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }
  

.registrarse-container{
  position: relative;
  width: 80%;
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 2rem;
}
.input-field {
  width: 300px; /* Ancho del campo de entrada */
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
  gap: 5rem;
  
}

.registro{
  display: flex;
}
.registro .input-item{
  display: flex;
  flex-direction: column;
}