.input-group {
    margin-bottom: 10px; 
    
  }
  
  .input-width-160 {
    width: 160px !important;
    margin-Left: 60px;
  }
  
  .input1-width-70 {
    margin-Left: 70px !important;
  }

  .input1m-width-70{
    width: 160px !important;
  }

  .input-width-30 {
    margin-Left: 30px !important;
  }

  .input-width-140 {
    width: 160px !important;
  }
  
  .input1f-width-70{
    width: 160px

  }
  .input-width-280 {
    width: 280px !important;
    margin-Left: 20px;
  }
  .input1fv-width-70{
    width: 280px !important;

  }
  .ubicacion-input {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .ubicacion-icon {
    position: absolute;
    right: 10px;
    top: 20%;
    transform: translateY(-0%);
    color: black;
  }
  

  .step-3 .password-icon{
    position: relative;
    right: 7%;
    top: 48% !important;
    transform: translateY(-30%);
  }
  
  .para1-boton {
    margin: 0% 55%;
    width: 10%;
  }
  