.align-left {
    text-align: left;
    margin: 10px;
  }
  
  .login-logo-box.align-left {
    margin-left: 0; 
  }
  .title .align-left{
    text-align: center !important; 
  }
  .logo-img {
    width: 1000px; 
    height: 100px; 
  }
  .registrarse-left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
    background-color: white;
  }
  

.registrarse-container{
  position: relative;
  width: 100vw;
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 2rem;
}

<<<<<<< HEAD
=======
.registrarse-right{
  position: relative;
  width: 50%;
  padding: 2rem 0;
}

>>>>>>> 1e59a35cf4e5a793c210ae747bbe71c682fa4cb8
.input-field {
  width: 300px; 
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
  gap: 5rem;
  
}

.registro{
  display: flex;
}
.registro .input-item{
  display: flex;
  flex-direction: column;
}