.principal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-1 {
    width: 100%;
    position: relative;
    /* padding: 1%; */

    
}

.step-1 h1 {
    width: 40%;
    padding: 1%;
    border: 2px solid #999;
}

.step-1 .para-form {
    width: 40%;
    padding: 1%;
    border: 2px solid #999;
}

.step-1 input {
    margin: 20px 3px;
    width: 90%;
}

.step-1 .botones {
    display: flex;
    justify-content: flex-end;
}

.botones .b-cancelar {
  margin: 0px 2%;
}

.botones .b-buscar {
  margin: 0% 10% 0% 2%;
}


.error-message {
    color: red;
}
  
.success-message {
    color: green;
}
  