.principal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-1 {
    width: 100%;
    /* position: relative; */
    /* padding: 1%; */

    
}
.password-icon1{

  position: absolute;
  right: 10px;
  top: 48% !important;
  transform: translateY(-30%);
}
.step-1 h1 {
    width: 40%;
    padding: 1%;
    border: 2px solid #999;
}

.step-1 .para-form {
    width: 40%;
    padding: 1%;
    border: 2px solid #999;
}

.step-1 input {
    margin: 20px 3px;
    width: 90%;
}

.step-1 .botones {
    display: flex;
    justify-content: flex-end;
}

.botones .b-cancelar {
  margin: 0px 2%;
}

.botones .b-buscar {
  margin: 0% 10% 0% 2%;
}


.step-2 .b-enviar{
  display: flex;
  justify-content: flex-end;
}

.step-2 form {
  margin: 6% 0%;
}

.step-2 input {
  margin-right: 3%;
  width: 75%;
}

.step-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step-3 form {
  display: flex;
  flex-direction: column;
}

.step-3 .cont {
  margin: 2%;
  width: 70%;
}



.step-3 .rep-cont {
  width: 70%;
  margin: 2%;
}

.step-3 .b-confirm {
  display: flex;
  justify-content: end;
}

.error-message {
    color: red;
}
  
.success-message {
    color: green;
}
  