:root{
  --azul-oscuro: #0A2647;
  --azul-marino: #144272;
  --azul-primario: #205295;
  --azul-claro: #2C74B3;
  --blanco: #f8f9fa;
  --negro: #343a40;
  --gris: #6c757d;
  --verde: #28a745;
  --rojo: #dc3545;
}



*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-azul-fuerte{
  background-color: var(--azul-oscuro);
  color: var(--blanco);
}