@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  /*Paleta de colores*/
  --azul-oscuro: #0A2647;
  --azul-marino: #144272;
  --azul-primario: #205295;
  --azul-claro: #2C74B3;
  --blanco: #f8f9fa;
  --negro: #343a40;
  --gris: #6c757d;
  --verde: #28a745;
  --rojo: #dc3545;

  /*Tipografia*/
  --sans-serif :"Public Sans", sans-serif;
  --serif : "GFS Didot", serif;
}


*{
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  box-sizing: content-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4{
  font-family: var(--serif);
  font-weight: 400;
  font-style: normal;
}

/*backgrounds*/
.bg-azul-fuerte{
  background-color: var(--azul-oscuro);
}


/*botones: asignar la clase de la siguiente manere: className: btn btn-[color]*/

.btn-azul{
  background-image: linear-gradient(var(--azul-marino),var(--azul-oscuro),var(--azul-marino));
  -webkit-text-fill-color: white;
}

.ver-perfil-btn {
  border-radius: 25px; /* Curva de 25px en el botón */
  padding: 10px 20px; /* Ajuste de espaciado */
  font-size: 15px;
  padding: 10px 20px
}


/* secciones */

.page{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  width: 100vw;
}