.solicitudes-pendientes{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.solicitudes-pendientes-center{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





