.navbar{
    position: fixed !important;
    width: 100vw;
    z-index: 1;
    min-height: var(--navbar-height);
    top: 0;
    left: 0;
    padding: 0 !important;
    margin: 0;
}

.dropdown-menu{
    background-color: var(--azul-oscuro) !important;
}

.profile-icon{
    font-size: 2rem;
    height: 100%;
    /* transform: scale(1.4); */
}
.profile-icon i {
    font-size: 2rem;
}

.navbar-register-btn{
    margin-left: 10px;
}

.navbar-nav {
    display: flex;
    /* gap: 2rem;   */
}


@media screen and (min-width: 768px) {
    .dropdown-menu{
            transform: translate(-70%,10px);
    }
}

.nav-link.active{
    border-bottom: 3px solid white;
}