.profile-section{
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: 100vw; 
    margin-top: var(--navbar-height);
    overflow-x: hidden;
}

.profile-section-center{
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 100%;
}

.profile-options{
    position:relative;
    width: var(--xs) !important;
    background-color: var(--azul-marino);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white);
}

.profile-info{
    position: relative;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.profile-image{
    position: relative;
    height: 8rem;
    width: 8rem;
}
.profile-image .image{
    border-radius: 50%;
}

.options{
    position: relative;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.options ul{
    padding: 0 2rem;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.options ul li{
    width: 100%;
    list-style: none;
    padding: 1rem 0;
    background-color: var(--white);
    border-radius: 50px;
    color: black;
}

.options ul li:last-child{
   background-color: var(--red);
   color: white;
}

.options ul li:hover{
    cursor: pointer;
    background-color: var(--azul-claro);
    color: var(--white);
}

.options ul li:last-child:hover{
    background-color: var(--red);
    color: var(--white);
    filter: brightness(0.9);
 }

.profile-content{
    position: relative;
    /* width: 100vw; */
    /* height: 100%; */
}