#lista_amigos{
   scroll-behavior: smooth !important
}

.rectangle {
    width: 95%;
    background-color: gray;
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.filtrosYBoton {
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.interesesSeleccionados {
    display: flex;
}
.burbujaInteres {
    margin-right: 10px;
    border: 1px solid gray; /* Borde gris */
    border-radius: 10px; /* Bordes redondeados */
    padding: 5px 10px; /* Espacio interno */
    background-color: transparent; /* Sin fondo de color */
}

@media (max-width: 768px) {
    .filtrosYBoton {
        flex-direction: column;
    }
    .rectangle {
        justify-content: start;
        flex-direction: column;
        align-items: start;
    }
}

.card-list {
    position: relative;
    width: 100%; /* Ancho máximo del 100% */
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.card-list:hover{
    transform: scale(0.98);
    box-shadow: 0 0 10px 1px var(--gris);
}

.card-header {
    width: 100%;
    height: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-info {
    text-align: center;
}

.card-stats {
    position: relative;
    width: 100%; 
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
}

.card-n-users{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.card-n-users span{
    font-size: 0.7rem;
    margin-bottom: 3px;
}

.card-actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.col{
    display: flex;
    justify-content: center;
}

.coin-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin{
    position: relative;
    background-color: blue;
    height: 1.7rem;
    width: 1.7rem;   
}

#mensaje-no-more-results{
    text-align: center;
    font-size: 2rem;
    margin: 20px !important;
}

.active .page-link{
    background-color: var(--azul-oscuro);
}

.btn-ver-perfil{
    border-radius: 20px !important;
}

.d-none{
    display: none;
}