.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100%; /* Ancho máximo del 100% */
    max-width: 300px; /* Anchura máxima */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px; /* Añadir margen para separar las tarjetas */
}

.card-header {
    width: 100%;
    height: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-body {
    padding: 10px; /* Añadir relleno al cuerpo de la tarjeta */
}

.card-info {
    text-align: center;
}

.card-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page {
    padding: 20px;
}
